---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="cook. | 404"
  description="Página no encontrada"
>
  <section class="my-16 text-center space-y-4">
    <p class="text-7xl font-bold">404</p>
    <p class="text-lg italic">Nada en el horno por aquí...</p>
    <p>
      <a href="/" class="cool-link">Volver a las recetas</a>
    </p>
  </section>
</Layout>
