---
import NewTabLink from "@components/NewTabLink.astro";

---

<section
  class="my-2 grid grid-cols-1 lg:grid-cols-3 text-secondary gap-3 lg:gap-6"
>
  <p class="lg:col-1 leading-relaxed">
    I'm a Madrid-based developer driven by a
    lifelong passion for technology and design, commited to always keep learning
    and staying current with emerging technologies.
  </p>
  <p class="lg:col-2">
    I engage in personal projects and continuous skill enhancement. This brings
    me joy through creating valuable tools that enhance people's lives and share
    them with the community on my <NewTabLink href="https://github.com/la-lo-go"
      >GitHub</NewTabLink>
     (because <i>open-source is live</i> 💙)
  </p>
  <p class="lg:col-3 leading-relaxed">
    For inquiries, job opportunities, my complete CV, or even a friendly
    greeting, feel free to <a href="/contact">reach out!</a> :D
  </p>
</section>
