---
const { slug, post } = Astro.props;
---

<li class="mb-2 text-lg group">
  <a class="cool-link-animated transition-colors" href={`/blog/${slug}`}>
    >> {(post as any).frontmatter.title}
    <p
      class="text-gray-500 font-normal text-sm group-hover:underline group-hover:cursor-pointer text-pretty"
    >
      {(post as any).frontmatter.description}
    </p>
  </a>
</li>
