---
import JobItem from "./JobsItem.astro";
import WebSection from "@components/WebSection.astro";
import { GetJobs } from "@lib/JobPortfolio";

import manfred from "@data/manfred/CV/MAC.json";
const jobs = GetJobs(manfred.experience.jobs);
---

<WebSection>
  <h2 class="text-secondary font-bold text-2xl">
    Work experience
  </h2>

  <ol class="relative mt-3">
    {
      jobs.map((job) => (
        <li class="">
          <JobItem {...job} />
        </li>
      ))
    }
  </ol>
</WebSection>