---
import OtherProject from "@components/landing/Other-Project.astro";

import { GetOtherProjects } from "@lib/ManfredType";

import manfred from "@data/manfred/CV/MAC.json";
const otherProjects = GetOtherProjects(manfred.experience.projects);
---

<section class="mb-4">
  <div class="h-0.5 bg-secondary"></div>
  <h2 class="text-secondary text-lg font-medium">
    Other <i>cool</i>
    <strong> projects</strong>
  </h2>

  <ul
    class="mx-auto grid grid-cols-1 sm:grid-cols-2 text-left divide-y-2 gap-1 divide-primary lg:grid-cols-4 items-start text-primary mt-3"
    role="list"
  >
    {
      otherProjects.map((template) => (
        <>
          <OtherProject template={template} />
        </>
      ))
    }
  </ul>
</section>