---
import NewTabLink from '@components/NewTabLink.astro';
type Props = {
  template: {
    title: string;
    description: string;
    url: string[];
  };
};

const {template } = Astro.props;
---

<li
  class="flow-root col-span-full h-full hover:bg-secondary/90 hover:text-gray bg-secondary transition-colors duration-200"
>
  <NewTabLink
    href={template.url[0]}
    className="flex flex-col sm:flex-row justify-between gap-6 max-sm:gap-2 h-full align-middle sm:items-center"
  >
    <div class="p-3">
      <p class="italic shrink-0">{template.title}</p>
    </div>
    <div class="p-3 sm:max-w-[65%]">
      <p class="text-xs leading-relaxed sm:text-right">{template.description}</p>
    </div>
  </NewTabLink>
</li>

<style>
  p (min-width: 640px) {
    text-wrap: balance;
  }
</style>
