---
import Lines from "@components/Lines.astro";
import PersonalLogo from "@components/Personal-Logo.astro";
---

<header
  class="mb-6 w-full flex gap-x-4 sm:justify-between max-sm:flex-col md:flex-col max-md:items-end max-sm:gap-y-2"
>
  <a href="/" aria-label="Volver al inicio" class="grow max-sm:w-full">
    <PersonalLogo />
  </a>

  <div class="space-y-2 max-sm:w-full max-sm:order-last">
    <Lines />
  </div>
</header>
