---
import Layout from "@layouts/Layout.astro";
const title = `Contact | La-lo-go`;
const description = `Contact | La-lo-go`;
---

<Layout title={title} description={description}>
  <form
    class="max-w-3xl mx-auto py-6 flex flex-col items-center justify-center"
    action="https://formsubmit.co/contact@lalogo.dev"
    method="POST"
  >
    <h1 class="-mt-8 mb-4 font-bold text-3xl text-secondary">Contact</h1>

    <div class="mb-4 w-full">
      <label class="block mb-2" for="email"> Your email*:</label>
      <input
        class="w-full leading-relaxed focus:outline-none focus:border-2 focus:border-gray"
        id="email"
        type="email"
        name="email"
        required
      />
    </div>
    <div class="mb-4 w-full">
      <label class="block mb-2" for="name"> Your name*:</label>
      <input
        class="w-full leading-relaxed focus:outline-none focus:border-2 focus:border-gray"
        id="name"
        type="text"
        name="name"
        required
      />
    </div>
    <div class="mb-6 w-full">
      <label class="block mb-2" for="mensaje"> Text*:</label>
      <textarea
        class="w-full leading-relaxed focus:outline-none focus:border-2 focus:border-gray"
        id="message"
        name="message"
        rows="6"
        required></textarea>
    </div>
    <button class="px-4 py-2 text-2xl bg-secondary w-full transition-colors hover:bg-secondary/90 text-gray" type="submit">
      Send!
    </button>
  </form>
</Layout>

<script defer>
  let footer = document.querySelector("footer");
  if (footer) footer.style.display = "none";
</script>
