---
import Lines from "@components/Lines.astro";
import SocialIcons from "@components/Social-Icons.astro";
---

<footer>
  <div class="flex justify-center my-8">
    <SocialIcons />
  </div>
</footer>
