---
import SocialIcons from "./SocialIcons.astro";

---

<footer>
  <div class="flex justify-center mb-4">
    <SocialIcons />
  </div>
  
  <div class="space-y-2 mb-4">
    <div class="h-6 bg-secondary"></div>
    <div class="h-3 bg-secondary"></div>
    <div class="h-1.5 bg-secondary"></div>
  </div>
</footer>
