---
import SocialIcons from "@components/Social-Icons.astro";
---

<footer class="flex flex-col gap-y-1 items-center mt-8">
  <div class="flex justify-center">
    <SocialIcons />
  </div>
  
  <div>
    <a class="cool-link" href="/contact">Reach out!</a>
  </div>
</footer>
