---
import Lines from "./Lines.astro";
import PersonalLogo from "./Personal-Logo.astro";
import SocialIcons from "./Social-Icons.astro";
---

<header class="mb-8 w-full">
  <div
    class="grid grid-flow-col gap-x-4 sm:justify-between sm:flex sm:flex-row md:flex-col max-md:items-end"
  >
    <PersonalLogo />

    <div
      class="space-y-2 max-sm:w-fit max-sm:h-full max-sm:flex max-sm:items-center max-sm:justify-end max-sm:place-items-end"
    >
      <div
        class="flex flex-col gap-3 justify-between items-center text-lg text-secondary md:flex-row"
        data-aos="fade-up"
        data-aos-duration="1500"
      >
        <div class="text-center font-normal max-sm:hidden">
          <i>"If it doesn't exist, code it!"</i>
        </div>

        <SocialIcons verticalAtSm={true} />
      </div>

      <Lines />
    </div>
  </div>

  <div class="sm:hidden grow text-center mt-4 text-lg">
    <i>"If it doesn't exist, code it!"</i>
  </div>
</header>
