---
import PersonalLogo from "./Personal-Logo.astro";
import SocialIcons from "./SocialIcons.astro";
---

<header
  class="flex flex-row md:flex-col gap-4 justify-between max-md:items-end mb-8"
>
  <PersonalLogo />

  <div class="space-y-2">
    <div
      class="flex flex-col md:flex-row gap-3 justify-between items-center text-lg text-secondary"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="text-center font-normal quote">
        <i>"If it doesn't exist, code it!"</i>
      </div>

      <SocialIcons />
    </div>

    <!-- Lines -->
    <div
      class="h-1.5 bg-secondary max-sm:hidden"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
    </div>
    <div
      class="h-3 bg-secondary max-sm:hidden"
      data-aos="fade-up"
      data-aos-duration="2500"
    >
    </div>
  </div>
</header>

<style>
  .quote {
    text-wrap: balanced;
  }
</style>
