---
import Lines from "./Lines.astro";
import PersonalLogo from "./Personal-Logo.astro";
import SocialIcons from "./Social-Icons.astro";
---

<header class="mb-8 w-full">
  <div
    class="flex gap-x-4 sm:justify-between max-sm:flex-col md:flex-col max-md:items-end max-sm:gap-y-2"
  >
    <PersonalLogo />

    <div class="space-y-2 max-sm:w-full max-sm:order-last">
      <div
        class="flex flex-col gap-3 justify-between items-center text-lg text-secondary md:flex-row"
      >
        <div class="text-center font-normal max-sm:hidden">
          <i>"If it doesn't exist, code it!"</i>
        </div>

        <SocialIcons />
      </div>

      <Lines />
    </div>

    <div class="text-center text-lg w-full sm:hidden">
      <i>"If it doesn't exist, code it!"</i>
    </div>
  </div>
</header>
