<div class="grow max-sm:w-full">
  <div
    class="text-secondary grow mx-auto md:mb-2"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <svg viewBox="0 0 1721 574" class="w-full" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M0.333,0.333l114.667,0l-0,458.667l286.667,0l-0,-458.667l516,0l-0,458.667l286.666,0l0,-458.667l516,0l0,573.334l-286.666,-0l-0,-114.667l172,-0l-0,-344l-286.667,-0l-0,458.667l-516,-0l-0,-229.334l-172,0l-0,-114.666l172,-0l-0,-114.667l-286.667,-0l0,458.667l-516,-0l0,-573.334Z"
        fill="currentColor"></path>
    </svg>
  </div>
</div>
